body {
    display:flex;
    justify-content: center;
    background-image: url(https://th.bing.com/th/id/OIP.ZzTedeCw5rJE7TuxoUsnjwAAAA?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: cover;
}   

.card{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    background-color: rgba(0, 255, 255, 0.301);
    box-shadow: 0 0 30px;
}
.card1{
    border-radius: 10px;
    height: 330px;
    width: 650px;
    background-color: rgba(0, 255, 255, 0.301);
    box-shadow: 0 0 30px;
}
.card.h2{
    text-align: center;
}
.card2{
    border-radius: 10px;
    height: 400px;
    width: 400px;
    background-color: rgba(0, 255, 255, 0.301);
    box-shadow: 0 0 30px;
}